<div class="container">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/covid19.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Covid19
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Nazionale<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Regioni
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Abruzzo</a>
            <a class="dropdown-item" href="#">Basilicata</a>
            <a class="dropdown-item" href="#">Calabria</a>
            <a class="dropdown-item" href="#">Campania</a>
            <a class="dropdown-item" href="#">Emilia-Romagna</a>
            <a class="dropdown-item" href="#">Friuli-Venezia</a>
            <a class="dropdown-item" href="#">Lazio</a>
            <a class="dropdown-item" href="#">Liguria</a>
            <a class="dropdown-item" href="#">Lombardia</a>
            <a class="dropdown-item" href="#">Marche</a>
            <a class="dropdown-item" href="#">Molise</a>
            <a class="dropdown-item" href="#">Piemonte</a>
            <a class="dropdown-item" href="#">Puglia</a>
            <a class="dropdown-item" href="#">Sicilia</a>
            <a class="dropdown-item" href="#">Sardegna</a>
            <a class="dropdown-item" href="#">Toscana</a>
            <a class="dropdown-item" href="#">Trentino-Alto</a>
            <a class="dropdown-item" href="#">Umbria</a>
            <a class="dropdown-item" href="#">Valle d'Aosta</a>
            <a class="dropdown-item" href="#">Veneto</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>